<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Current POTA Spots</title>
    </head>
    <body>
        It's {{ date.strftime("%A, %d %B, %Y at %X") }} and {{ count }} POTA spots were retrieved.<br />
        The current user is {{ user }}.
        <br />
        {%if mode or locs %}
            <strong>Filtered {{ selected }} spots</strong> matching:
                {%if mode %} mode={{ mode }} {% endif %} 
                {%if mode and locs %} and {% endif %}
                {%if locs %} locations={{ locs }} {% endif %}
        {% else %}
            Showing unfiltered current spots.  Provide /mode/SSB,FT8 or e.g. /locs/US-CA,US-MA to filter.
        {% endif %}
        <br /> <br />
        <table>
            <tr>
                <th>Frequency</th>
                <th>Activator</th>
                <th>Reference</th>
                <th>Mode</th>
                <th>Location</th>
                <th>Comments</th>
            </tr>
            {% for item in spots %}
                {% set moreLocs = item.locationDesc.count(',') %}
                {% if moreLocs %}
                    {% set firstLoc = item.locationDesc.split(',')[0] ~ '+' ~ moreLocs %}
                {% else %}
                    {% set firstLoc = item.locationDesc %}
                {% endif %}
                <tr><td>{{ item.frequency }}</td> 
                    <td>{{ item.activator }}</td>
                    <td>{{ item.reference }}</td>
                    <td>{{ item.mode }}</td>
                    <td>{{ firstLoc }}</td>
                    <td>{{ item.comments }}</td>
                </tr>
           {% endfor %}
        </table>

        <script src="https://unpkg.com/launchdarkly-js-client-sdk@3"></script>
        <script id="LD_listener" type="text/javascript" 
            src="{{ url_for('static', filename='js/flag_listener.js') }}" 
            data-clientid="{{ client_id }}" data-featurekey="{{ feature_flag_key }}">
        </script>
        <script src="{{ url_for('static', filename='js/close_listener.js') }}"></script>
    </body>
</html>
